@font-face {
  font-family: "Atyp Display";
  font-weight: 400;
  ascent-override: 100%;
  src: url("../font/AtypDisplay-Regular.woff2");
}
@font-face {
  font-family: "Atyp Display";
  font-weight: 500;
  ascent-override: 100%;
  src: url("../font/AtypDisplay-Medium.woff2");
}
@font-face {
  font-family: "Atyp Display";
  font-weight: 600;
  ascent-override: 100%;
  src: url("../font/AtypDisplay-Semibold.woff2");
}
@font-face {
  font-family: "Atyp Display";
  font-weight: 700;
  ascent-override: 100%;
  src: url("../font/AtypDisplay-Bold.woff2");
}

:root {
  --red: #ff375f;
  --green: #2bd180;
  --green-20: #173a2b;
  --green-30: #1a4d36;
  --yellow: #fac132;
  --yellow-20: #40371c;
  --yellow-30: #58481e;
  --black: #121416;
  --darker-gray: rgba(25, 26, 28, 0.8);
  --dark-gray: #1e1e20;
  --mid-gray: #2a2a2c;
  --light-gray: #353536;
  --lighter-gray: #454546;
  --light-text: rgba(255, 255, 255, 0.6);
}

html,
body,
select,
button {
  font-family: "Atyp Display", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 500;
  background-color: var(--black);
  color: white;
}

html {
  overflow: auto;
}

body {
  width: 100%;
  min-width: 800px;
}

h1, h2 {
  font-size: 1.3rem;
  color: white !important;
  font-weight: 600;
}

h3 {
  font-size: 1rem;
  color: white !important;
  font-weight: 600;
}

a:hover {
  color: var(--green) !important;
}
a:focus,
a:active {
  color: inherit !important;
}

button:focus {
  outline: none;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* navigation */
#offline {
  display: none;
  background-color: var(--red);
  width: 100%;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  color: var(--black);
  font-size: 0.9rem;
}
.navbar {
  background-color: var(--dark-gray) !important;
  min-height: 5.5rem;
  /*border-bottom: 1.5px var(--light-gray) solid; */
}
.logo img {
  height: 100%;
}
.logo p {
  padding-left: 1rem;
  font-size: 1.4rem;
  color: white !important;
  font-weight: 600;
  white-space: nowrap;
}
_::-webkit-full-page-media,
_:future,
:root .logo p {
  padding-top: 0.25rem;
}
.navbar-item {
  color: white;
  background-color: transparent !important;
  padding: 0.5rem 1rem;
}
_::-webkit-full-page-media,
_:future,
:root .navbar-end .navbar-item {
  padding: 0.8rem 1rem 0.5rem 1rem;
}
.navbar-burger {
  color: white;
}
@media screen and (max-width: 1024px) {
  .navbar,
  .navbar-brand,
  .navbar-burger {
    min-height: 4rem;
  }
  .navbar-menu {
    background-color: transparent !important;
  }
}
@media screen and (max-width: 480px) {
  .logo p {
    display: none;
  }
  .logo {
    margin-left: 0.5rem;
  }
}

/* controls header */
.controls {
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
  margin-bottom: 0 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*background-color: aqua; */
}
.controls > div {
  display: flex;
  align-items: center;
}
.controls button {
  background: none;
  border: none;
  padding: 0.5rem;
  transition: 200ms ease all;
}
.controls button:hover {
  opacity: 0.6;
  cursor: pointer;
  transform: scale(1.1);
}
#play {
  height: 3.8rem;
  width: 3.8rem;
  margin: 0 0.8rem;
  border-radius: 4rem;
  padding: 0.2rem !important;
  background: url(../img/play.svg) no-repeat center center !important;
  background-color: var(--mid-gray) !important;
}
#play.active {
  background: url(../img/pause.svg) no-repeat center center !important;
  background-color: var(--mid-gray) !important;
  animation: flashing 800ms ease infinite;
}
#play:hover {
  opacity: 1 !important;
  background-color: var(--light-gray) !important;
}
.control-label {
  color: var(--light-text);
  display: block;
  font-size: 0.9rem;
}
#epochs {
  display: block;
  font-size: 1.5rem;
}
.control-input {
  width: 10rem;
  font-size: 1.2rem;
  background: transparent;
  border: none;
  padding-left: 0;
  padding-top: 0.4rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px var(--light-gray) solid;
  -webkit-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background: url(../img/dropdown.svg) no-repeat right;
}
.control-input option {
  background: var(--dark-gray);
  color: #fff;
}
_::-webkit-full-page-media,
_:future,
:root .control-input {
  padding-top: 0.3rem;
  padding-bottom: 0.4rem;
}
.control-input:focus {
  outline: none;
  border-bottom: 2px white solid;
}
@media screen and (max-width: 1216px) {
  .controls {
    flex-direction: column;
  }
  .controls .left {
    padding-top: 2rem;
    padding-bottom: 1.8rem;
  }
  .epochs-cont {
    padding-left: 2rem !important;
  }
}
@media screen and (max-width: 768px) {
  .controls .level-left {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
  }
  .controls .level-right .level-item div {
    padding: 0 0.5rem !important;
  }
}

/* main */
.box-section {
  /*border: 1.5px var(--light-gray) solid;*/
  background: var(--darker-gray);
  border-radius: 1rem;
  padding: 2rem;
}

/* left-panel */

.left-panel {
  width: 22rem;
  height: 100%;
}
.left-panel p {
  color: var(--light-text);
  font-size: 0.9rem;
}
.canvas-cont {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 0.5rem;
  cursor: crosshair;
  position: relative;
}
.canvas-cont canvas {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 0.5rem;
}

#canvas1 {
  opacity: 0.5;
  background-color: var(--dark-gray);
}

#canvas2 {
  border: 1.5px var(--light-gray) solid;
  z-index: 2;
  cursor: crosshair;
  position: absolute;
  top: 0;
  left: 0;
}

.left-panel .color {
  height: 2.1rem;
  width: 2.1rem;
  border-radius: 2rem;
  border: var(--dark-gray) 0.45rem solid;
  cursor: pointer;
}
.left-panel #green {
  background-color: var(--green);
}
.left-panel #green.selected {
  border-color: var(--green-20);
}
.left-panel #green:hover {
  border-color: var(--green-20);
}
.left-panel #green.selected:hover {
  border-color: var(--green-30);
}
.left-panel #yellow {
  background-color: var(--yellow);
  margin-left: 0.2rem;
}
.left-panel #yellow.selected {
  border-color: var(--yellow-20);
}
.left-panel #yellow:hover {
  border-color: var(--yellow-20);
}
.left-panel #yellow.selected:hover {
  border-color: var(--yellow-30);
}
#clear,
#upload {
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--mid-gray);
  padding: 0.3rem 1.2rem;
}
#upload {
  width: 100%;
}
#clear:hover,
#upload:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}
.presets {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.dataset {
  width: 30%;
  aspect-ratio: 1;
  border-radius: 0.5rem;
  background-color: var(--dark-gray);
  /*border: 1.5px var(--light-gray) solid; */
}
.dataset:hover {
  cursor: pointer;
  background-color: var(--mid-gray);
}
.left-panel .mobile {
  display: flex;
}
.left-panel .mobile .left,
.left-panel .mobile .right {
  flex: 1;
}
@media screen and (max-width: 1216px) {
  .left-panel {
    width: 100%;
    height: 100%;
  }
}

/* right-panel */

.main-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.round-button {
  height: 2.1rem;
  width: 2.1rem;
  font-size: 2rem;
  font-weight: 400;
  border: none;
  border-radius: 2.1rem;
  background-color: var(--mid-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}
#addLayer,
.addNeuron {
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 0.8rem 0.8rem;
}
#removeLayer,
.removeNeuron {
  background-image: url("../img/minus.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 0.8rem 0.8rem;
}
.round-button:hover {
  cursor: pointer;
  background-color: var(--light-gray);
}
#layers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}
.layer {
  height: 100%;
  display: block;
  background: linear-gradient(var(--dark-gray), transparent);
  border-radius: 0.5rem;
}
.layer .header {
  padding-top: 1.5rem;
  height: 7.5rem;
  /*background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.layer .header p {
  max-width: 10rem;
  padding: 0.5rem;
  line-height: 120%;
  color: var(--light-text);
  font-size: 0.9rem;
  text-align: center;
}
.layer .header .buttons {
  padding-top: 0.8rem;
  display: flex;
}

.neurons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.neuron {
  margin: 0.5rem;
  margin-bottom: 1.5rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 3.5rem;
  box-shadow: 0 0 0 0.5rem var(--mid-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  background-color: #2bd180;
}
.feature {
  background-color: var(--light-gray);
  color: white;
}

.nn {
  position: relative;
}
#edges-cont {
  top: 7.5rem;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}
#edges {
  width: 100%;
  height: 100%;
}
#edges.active {
  animation: flashing 800ms ease infinite;
}
@keyframes flashing {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

/* modal */
.modal-content {
  display: flex;
  justify-content: center;
}
.upload-box {
  max-width: 30rem;
  background-color: var(--dark-gray);
  border-radius: 1rem;
}
.upload-box p {
  color: var(--light-text);
  font-size: 0.9rem;
}
.file-cta,
#submit {
  color: white !important;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--light-gray) !important;
}
.file-cta:hover,
#submit:hover {
  background-color: var(--lighter-gray) !important;
  color: white !important;
  cursor: pointer;
}
.file-name {
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--mid-gray);
}
