.navigation {
  background-color: white !important;
  padding: 1.4rem 0;
  box-shadow: 0px 2px 20px 0px var(--shadow);
}
.navigation .logo {
  font-size: 1.4rem;
  font-weight: 600;
  white-space: nowrap;
}
.navigation .middle {
  color: var(--text-2);
  font-size: 0.9rem;
}
.navigation .middle a {
  color: var(--text-2);
  text-decoration: underline;
}
