.navbar {
  background-color: var(--dark-gray) !important;
  padding: 1rem 0;
}
.logo p {
  font-size: 1.4rem;
  color: white !important;
  font-weight: 600;
  white-space: nowrap;
}
.navbar-item {
  color: white;
  background-color: transparent !important;
  padding: 0.5rem 1rem;
}
.navbar-end .navbar-item {
  padding: 0.8rem 1rem 0.5rem 1rem;
}
.navbar-burger {
  color: white;
}
@media screen and (max-width: 1024px) {
  .navbar-menu {
    background-color: transparent !important;
  }
}
@media screen and (max-width: 480px) {
  .logo p {
    display: none;
  }
  .logo {
    margin-left: 0.5rem;
  }
}
